<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xepicgamerzx.hotelier">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hotelier">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDgbO256UmNGH74yVSq9NsRD4MyXltqGwQ"/>


        <activity
            android:name=".management_hotel_listing_activity.HotelCreatorActivity"
            android:exported="false" />
        <activity
            android:name=".customer_activities.customer_search_activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".customer_activities.customer_hotels_activity.HotelViewActivity"
            android:exported="false" />
        <activity
            android:name=".user_activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".user_activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".customer_activities.customer_rooms_activity.CustomerHotelRoomsActivity"
            android:exported="false" />
        <activity
            android:name=".home_page_activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Hotelier.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>